<template>
  <section>
    <div class="row cart__product">
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="cart__product-img">
              <img :src="item.imageURL" alt="asd" />
            </div>
          </div>
          <div class="col-6">
            <div class="row product">
              <h3 class="product__title">{{ item.title }}</h3>
              <p class="product__subline">{{ item.category }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 product__price">
        <span>${{ item.price }} USD</span>
      </div>
    </div>
    <hr />
  </section>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
          price: 0,
          category: '',
          gifts: {
            show: false,
          },
          btn: {
            show: false,
          },
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
hr {
  display: block;
  height: 0.125rem;
  border: 0;
  border-top: 0.0625rem solid #d8d4c7;
  margin: 0.625rem -0.9375rem;
}
.cart__product {
  background-color: transparent;
  &-img {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      max-width: 5.875rem;
      min-height: 94px;
    }
  }
}
.product {
  display: flex;
  flex-direction: column;
  min-height: 120px;

  &__title {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  &__subline {
    font-size: 0.8rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: $desc-color;
    margin: 0;
    padding-top: 5px;
  }

  &__price {
    display: flex;
    padding: 0;
    align-items: flex-end;
    font-weight: 500;
    color: $primary-color;
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
@media (max-width: 768px) {
  .cart__product {
    &-img {
      i {
        left: 10%;
      }
    }
    .product {
      border: none;
      &__title {
        margin-top: 1.5rem;
      }
    }
  }
}
</style>
