<template>
  <div class="col-xl-4 col-lg-12 order">
    <!-- <div class="order"> -->
    <div class="summary">Order summary</div>
    <hr />
    <CartItem v-for="item in data" :key="item.id" :item="item" />
    <div class="code">
      <form class="code__form">
        <div class="code__form-input col-6">
          <input type="text" class="form-control" placeholder="Couple code" />
        </div>
        <div class="code__form-btn col-6">
          <button type="submit" class="btn btn-outline-primary">Apply Coupon</button>
        </div>
      </form>
    </div>
    <hr />
    <div class="order__total">
      <span class="order__total-text">Subtotal</span>
      <span class="order__total-price">${{ cart.sumPrice }} USD</span>
    </div>
    <div class="order__total shipping">
      <span class="order__total-text">Shipping</span>
      <span class="order__total-price">${{ cart.discount.amount }} USD</span>
    </div>
    <hr />
    <div class="order__total total">
      <span class="order__total-text color-gray">Order total</span>
      <span class="order__total-price color-green">${{ orderTotalPrice }} USD</span>
    </div>
    <!-- </div> -->
  </div>
</template>

<script>
import { CART_PORDUCT } from '@/const/cart'
import CartItem from './CartItem'
export default {
  components: {
    CartItem,
  },
  props: {
    cart: {
      type: Object,
      default: () => {
        return {
          totalItem: 0,
          discount: {
            show: false,
            amount: 0,
          },
          sumPrice: 0,
        }
      },
    },
  },
  data() {
    return {
      data: CART_PORDUCT,
    }
  },
  computed: {
    orderTotalPrice() {
      if (this.cart) {
        if (!this.cart.discount.show) return this.cart.sumPrice
        return this.cart.sumPrice - this.cart.discount.amount
      }

      return 0
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.order {
  background-color: #efeee8;
  padding: 1rem 1rem 0;
  box-shadow: 0 1px 3px rgba(58, 77, 95, 0.2);
  margin-left: 1rem;
  margin-top: 2rem;
  .summary {
    font-weight: 700;
    color: #00294c;
    font-size: 1rem;
    line-height: 1.375rem;
  }
  hr {
    display: block;
    height: 0.125rem;
    border: 0;
    border-top: 0.0625rem solid #d8d4c7;
    margin: 0.625rem -0.9375rem;
  }
  &__total {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.375rem;
    padding: 0 1rem 0 1rem;
    &-text {
      color: #aca99d;
      font-weight: 600;
      &.color-gray {
        color: #00294c;
      }
    }
    &-price {
      margin-left: auto;
      font-weight: 500;
      text-align: right;
      min-width: 5.125rem;
      color: #6b7a87;
      &.color-green {
        color: $primary-color;
        font-weight: 700;
      }
    }
    &.total {
      font-size: 1.125rem;
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
  }
  .code {
    .code__form {
      display: flex;
      width: 100%;
      &-input {
        width: 100%;
        padding: 0;
        border-radius: 0.25rem;
        color: $desc-color;
        input {
          border: 2px solid $border-color;
          &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 6px rgba(44, 180, 146, 0.5);
            outline: none;
          }
        }
      }
      &-btn {
        background: $btn-code-bg-color;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 1rem;
        .btn {
          border: none;
          font-size: 1rem;
          line-height: 1.375rem;
          color: $text-color;
          outline: none;
          font-weight: 600;
          &:hover {
            background: $btn-code-bg-color;
          }
          &:active,
          &:focus {
            background-color: transparent;
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .order {
    margin-bottom: 2rem;
  }
}
</style>
