<template>
  <div class="container-fluid footer__bg">
    <div class="row container m-auto">
      <div class="col-md-12">
        <ul class="d-flex flex-row py-3 m-0 px-0">
          <li v-for="(text, i) in textLinks" :key="i" class="ml-4">
            <NuxtLink v-if="text.path" :to="text.path">{{ text.name }}</NuxtLink>
            <span v-else>{{ text.name }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { TEXT_FOOTER_BOTTOM } from '@/const/footer'
export default {
  data() {
    return {
      textLinks: TEXT_FOOTER_BOTTOM,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.footer__bg {
  background-color: $primary-color !important;
  ul li {
    margin-left: 1.5rem;
    position: relative;
    font-size: 0.9rem;
    line-height: 1.2rem;
    list-style: none;
    &:first-child::before {
      content: '';
    }
    &::before {
      content: '•';
      position: absolute;
      left: -0.8125rem;
      top: 0;
      color: rgb(255, 255, 255);
    }
    a {
      text-decoration: none;
      color: $text-color;
    }
    a:hover {
      color: $text-color-hover;
    }
  }
}
@media (max-width: 768px) {
  .footer__bg {
    ul {
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      align-items: flex-start;
      li {
        margin-bottom: 10px;
        list-style: none;
      }
    }
  }
}
</style>
