<template>
  <div>
    <h4 class="toggle__icon">
      {{ menu.name }}
    </h4>
    <div>
      <ul v-if="menu.children || menu.children.length > 0" class="p-0 mt-3">
        <li v-for="(link, i) in menu.children" :key="i">
          <NuxtLink :to="link.path">{{ link.name }}</NuxtLink>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    menu: {
      type: Object,
      default: () => {
        return {
          name: '',
          children: [],
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
h4 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: $bg-color-secondary;
  margin: 1.5rem 0;
  &.toggle__icon::after {
    display: none;
  }

  &:last-child {
    font-size: 0.9rem;
  }
}
ul {
  line-height: 1.8rem;
  li {
    font-size: 0.92rem;
    line-height: 1.8rem;
    list-style: none;
    a {
      color: $text-color;
      text-decoration: none;
      display: inline-block;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
@media (max-width: 768px) {
  h4 {
    position: relative;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 1rem;
    color: $text-color;
    &.toggle__icon::after {
      position: absolute;
      top: 50%;
      right: 1%;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: '';
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }
}
</style>
