<template>
  <div class="col-md-4">
    <div class="row text-center">
      <div class="col-lg-12">
        <h4>
          Excellent
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked half"></span>
          <span class="fa fa-star last"></span>
          <span>Trustpilot</span>
        </h4>
      </div>
      <div class="col-lg-12 payment__icon">
        <img v-for="payment in paymentImages" :key="payment.imageURL" :src="payment.imageURL" alt="payment.imageURL" />
      </div>
      <div class="col-lg-12 social__icon">
        <a v-for="icon in socialIcons" :key="icon.name" href="#"><i :class="`fa fa-${icon.name}`"></i></a>
      </div>
    </div>
  </div>
</template>
<script>
import { PAYMENT_IMAGE, SOCIAL_ICON } from '@/const/footer'
export default {
  data() {
    return {
      socialIcons: SOCIAL_ICON,
      paymentImages: PAYMENT_IMAGE,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
h4 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: $bg-color-secondary;
  margin: 1.5rem 0;
  &:last-child {
    font-size: 0.9rem;
  }
}
span {
  padding: 4px;
  &.checked {
    background-color: $primary-color;
  }
  &.half::after {
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
    background-color: $text-color-secondary;
  }
  &.last {
    color: $primary-color;
  }
  &:last-child {
    font-size: 0.9rem;
  }
}
.payment__icon {
  padding-bottom: 20px;
  img {
    width: 84px;
    max-width: 2.625rem;
    object-fit: cover;
    margin-left: 2px;
  }
}
.social__icon a {
  display: inline-block;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-size: 1.25rem;
  height: 2.5rem;
  text-align: center;
  line-height: 1.5rem;
  padding: 0.375rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  &:hover {
    border: 2px solid $bg-color-secondary;
    color: $bg-color-secondary;
  }
  i {
    display: inline-block;
  }
}
</style>
