<template>
  <footer>
    <div class="container-fluid">
      <div class="row container m-auto py-3">
        <div class="col-md-8">
          <div class="row">
            <div v-for="menu in menus" :key="menu.name" class="col-lg-3 col-sm-12">
              <FooterLink :menu="menu" />
            </div>
          </div>
        </div>
        <FooterRight />
      </div>
    </div>
    <FooterTextBottom />
  </footer>
</template>
<script>
import { MENU_FOOTER } from '@/const/footer'
import FooterLink from './FooterLink'
import FooterRight from './FooterRight'
import FooterTextBottom from './FooterTextBottom'
export default {
  components: {
    FooterLink,
    FooterRight,
    FooterTextBottom,
  },
  data() {
    return {
      menus: MENU_FOOTER,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
footer {
  overflow-x: hidden;
  .container-fluid {
    background-color: $text-color-hover;
    color: $text-color;
    .container {
      max-width: $container-max-width;
    }
  }
}
</style>
