<template>
  <div class="row cart__product">
    <div class="col-md-10 col-8">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12">
          <div class="cart__product-img">
            <img :src="item.imageURL" alt="asd" /><i v-if="!item.btn.show" class="fa fa-search-plus"></i>
          </div>

          <div
            id="imagemodal"
            class="modal fade"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                  </button>
                  <img src="" class="imagepreview" style="width: 100%" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12">
          <div class="row product">
            <h3 class="product__title">{{ item.title }}</h3>
            <p class="product__subline">{{ item.category }}</p>
            <div v-if="item.gifts.show">
              <p class="product__subline">+ Gift wrap</p>
              <ul>
                <li v-for="(gift, i) in item.gifts.options" :key="i">
                  <i :class="`fa fa-${gift.icon}`"></i>{{ gift.title }}
                </li>
              </ul>
            </div>
            <div v-if="item.btn.show" class="product__btn">
              <NuxtLink :to="item.btn.path" class="btn btn-outline-primary">{{ item.btn.text }}</NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!item.btn.show" class="col-md-2 col-4">
      <span class="product__price">${{ item.price }} USD <i class="fa fa-trash"></i></span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
          price: 0,
          category: '',
          gifts: {
            show: false,
          },
          btn: {
            show: false,
          },
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.cart__product {
  min-height: 8.4375rem;
  @include box-shadow;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  &-img {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      max-width: 5.875rem;
      min-height: 94px;
    }
    i {
      position: absolute;
      font-size: 1.2rem;
      bottom: -20%;
      left: 50%;
      background: #000;
      color: #fff;
      padding: 7px;
      border-radius: 50%;
    }
  }
}
.product {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border-left: 1px solid #d8d4c7;
  min-height: 120px;

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  &__subline {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #6b7a87;
    margin: 0;
    padding-top: 5px;
  }
  ul {
    padding: 0;
    margin-top: 0.5rem;
    li {
      list-style: none;
      color: #2cb492;
      border: none;
      display: block;
      width: 100%;
      &:hover {
        color: #176f5e;
      }
      i {
        margin: 0 10px;
      }
    }
  }
  &__price {
    font-weight: 500;
    color: #6b7a87;
    font-size: 1rem;
    line-height: 1.375rem;
    position: relative;
    i {
      position: absolute;
      bottom: 0;
      right: -40%;
      cursor: pointer;
      color: red;
      font-size: 1.2rem;
    }
  }
  &__btn {
    margin-top: 1rem;
    .btn-outline-primary {
      font-weight: 500;
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover {
        background: transparent;
        box-shadow: 0 0.25rem $secondary-color;
        border: 0.125rem solid $secondary-color;
        transform: translateY(-4px);
      }
    }
  }
}
@media (max-width: 768px) {
  .cart__product {
    &-img {
      i {
        left: 10%;
      }
    }
    .product {
      border: none;
      &__title {
        margin-top: 1.5rem;
      }
    }
  }
}
</style>
