<template>
  <div class="col-xl-4 col-lg-12">
    <div class="order">
      <h2 class="order__title">Order summary</h2>
      <div class="order__total">
        <span class="order__total-text">Subtotal ({{ cart.totalItem }} items)</span>
        <span class="order__total-price">${{ cart.sumPrice }} USD</span>
      </div>
      <div v-if="cart.discount.show" class="order__total discount">
        <span class="order__total-text">Offer Applied</span>
        <span class="order__total-price color-green">$-{{ cart.discount.amount }} USD</span>
      </div>
      <div class="order__total">
        <span class="order__total-text">Order total</span>
        <span class="order__total-price color-green">${{ orderTotalPrice }} USD</span>
      </div>
      <div class="code">
        <p class="coupon">Got a coupon code?</p>
        <form class="code__form">
          <div class="code__form-input col-8">
            <input type="text" class="form-control" placeholder="COUPLE CODE" />
          </div>
          <div class="code__form-btn col-3">
            <button type="submit" class="btn btn-outline-primary">Apply</button>
          </div>
        </form>
      </div>
      <div class="row payment">
        <NuxtLink to="/checkout" class="btn btn-primary payment__checkout"
          ><span><i class="fa fa-lock"></i>Checkout</span></NuxtLink
        >
        <a href="/#" class="payment__paypal"><span>PayPal</span></a>
        <a href="/#" class="payment__amazon">
          <img src="https://d2ldlvi1yef00y.cloudfront.net/us/live/en_us/amazonpay/gold/medium/button_T6.png" alt="" />
        </a>
      </div>
      <div class="checkout__link">
        <NuxtLink to="/#">Been referred by a friend</NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cart: {
      type: Object,
      default: () => {
        return {
          totalItem: 0,
          discount: {
            show: false,
            amount: 0,
          },
          sumPrice: 0,
        }
      },
    },
  },
  computed: {
    orderTotalPrice() {
      if (this.cart) {
        if (!this.cart.discount.show) return this.cart.sumPrice
        return this.cart.sumPrice - this.cart.discount.amount
      }

      return 0
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.order {
  background-color: $text-color;
  font-weight: 400;
  color: $desc-color;
  font-size: 1rem;
  line-height: 1.375rem;
  box-shadow: 0 1px 3px rgba(58, 77, 95, 0.2);

  margin-left: 1rem;
  &__title {
    text-align: left;
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: $text-color-primary;
    padding: 1rem 1rem 0 1rem;
  }
  &__total {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 0 1rem 0 1rem;
    &.discount {
      padding: 0 2rem;
      background-color: #e9f7f4;
      .order__total-text {
        color: $discount-color;
      }
    }
    &-price {
      margin-left: auto;
      font-weight: 500;
      text-align: right;
      min-width: 5.125rem;
      &.color-green {
        color: $primary-color;
        font-weight: 700;
      }
    }
  }
  .code {
    .coupon {
      color: $primary-color;
      transition: 0.3s;
      padding: 1rem 1rem 0 1rem;
      border-top: 0.0625rem solid $border-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
    }
    .code__form {
      display: flex;
      width: 100%;
      border-top: 0.0625rem solid $border-color;
      background-color: $form-checkout-bg-color;
      padding: 10px 0;
      &-input {
        width: 70%;
        text-transform: uppercase;
        border-radius: 0.25rem;
        background-color: $text-color;
        color: $desc-color;
        transition: 0.25s cubic-bezier(0.17, 0.67, 0.52, 0.97);
        input {
          border: 2px solid $border-color;
          &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 6px rgba(44, 180, 146, 0.5);
            outline: none;
          }
        }
      }
      &-btn {
        background: $btn-code-bg-color;
        border-radius: 0.25rem;
        margin-left: 1rem;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          border: none;
          font-size: 1rem;
          line-height: 1.375rem;
          color: $text-color;
          outline: none;
          font-weight: 600;
          &:hover {
            background: $btn-code-bg-color;
          }
          &:active,
          &:focus {
            background-color: transparent;
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }
  .payment {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 1rem;

    .payment__checkout {
      margin: 0.5rem 0;
      padding: 10px;
      background: $primary-color;
      font-weight: 700;
      flex-grow: 1;
      box-shadow: inset 0 -4px $text-color-hover, 0 2px $text-color-hover;
      border: none;
      span {
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        i {
          margin-right: 0.5rem;
          font-size: 1.4rem;
        }
      }
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
  .checkout__link {
    text-align: center;
    padding: 1rem 1.5rem;
    border-top: 0.0625rem solid $border-color;
    a {
      text-decoration: none;
      transition: 0.25s cubic-bezier(0.17, 0.67, 0.52, 0.97);
      color: $primary-color;
      font-size: 1rem;
      line-height: 1;
    }
  }
  .payment__amazon {
    width: 100%;
    color: $secondary-color;
    box-shadow: inset 0 -2px #343e48;
    background-color: #f7d15f;
    background-image: url('/images/amazon-button-bkg.svg');
    background: url('/images/amazon-button-logo.svg'), linear-gradient(45deg, #ffb72e, #ffeccb 70%, #ffe2b5 99%);
    background-repeat: no-repeat;
    background-position: center 70%;
    cursor: pointer;
    border-radius: 0.25rem;
    img {
      cursor: pointer;
      max-height: 45px;
      opacity: 0;
      display: block;
      width: 100%;
      height: 3.125rem;
    }
  }
  .payment__paypal {
    background-color: #ffc439;
    background-image: url('/images/paypal-button-logo.png');
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 0.0625rem solid #ffaf00;
    max-height: 45px;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    padding: 0.625rem 0.5rem;
    margin-bottom: 0.5rem;
    span {
      visibility: hidden;
    }
  }
}
@media (max-width: 992px) {
  .order {
    margin-bottom: 2rem;
  }
}
</style>
