<template>
  <section class="cart">
    <div class="container">
      <div class="row cart__title">
        <h1 class="cart__title-heading">Your Cart ({{ cartCheckOut.totalItem }})</h1>
        <NuxtLink to="/#" class="cart__title-link">Continue Shopping →</NuxtLink>
      </div>
      <div class="row">
        <CartProduct :data="dataCartProduct" />
        <CartCheckout :cart="cartCheckOut" />
      </div>
    </div>
  </section>
</template>

<script>
import { CART_PORDUCT } from '@/const/cart'
import CartProduct from './CartProduct'
import CartCheckout from './CartCheckout'
export default {
  components: {
    CartProduct,
    CartCheckout,
  },
  data() {
    return {
      dataCartProduct: CART_PORDUCT,
      discount: {
        show: true,
        amount: 5.0,
      },
    }
  },
  computed: {
    cartCheckOut() {
      if (this.dataCartProduct)
        return {
          totalItem: this.dataCartProduct.length,
          discount: this.discount,
          sumPrice: this.dataCartProduct.reduce((sum, item) => sum + item.price, 0),
        }
      return {
        totalItem: 0,
        discount: {
          show: false,
          amount: 0,
        },
        sumPrice: 0,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.cart {
  background: $bg-color-secondary;
  overflow-x: hidden;
  .container {
    max-width: $container-max-width;
    padding: 0 1rem;
    .row {
      margin: 0;
    }
    .cart__title {
      margin: 2rem 0 1rem 0;
      display: flex;
      align-items: center;
      max-width: 66%;
      padding: 0 1rem;
      &-heading {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
      &-link {
        margin-left: auto;
        font-size: 1rem;
        line-height: 1.375rem;
        color: $primary-color;
        text-decoration: none;
        transition: 0.25s cubic-bezier(0.17, 0.67, 0.52, 0.97);
      }
    }
  }
}
@media (max-width: 1200px) {
  .cart {
    .container {
      .cart__title {
        max-width: 100%;
        padding: 0 1rem;
      }
      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
</style>
