<template>
  <div>
    <TextTop v-if="showTextTop" />
    <NavBar />
  </div>
</template>

<script>
import TextTop from './TextTop'
import NavBar from './NavBar'
export default {
  components: {
    TextTop,
    NavBar,
  },
  data() {
    return {
      showTextTop: true,
    }
  },
}
</script>

<style scoped></style>
