<template>
  <div class="container-fluid bg-header__top">
    <div class="row container m-auto">
      <div class="col-md-12 p-2 text-center">
        <span class="text__color">{{ text }}</span>
        <button type="button" class="btn btn-warning">{{ btnText }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: 'Father’s Day is coming!',
      btnText: 'CODE',
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.bg-header__top {
  background-color: $primary-color;
}
.text__color {
  color: #fff;
}
.btn-warning {
  font-weight: 600;
  padding: 5px;
  border: none;
}
</style>
