<template>
  <div class="row container">
    <ProductSlide />
    <ProductCotent />
  </div>
</template>

<script>
import ProductSlide from './ProductSlide'
import ProductCotent from './ProductCotent'
export default {
  components: {
    ProductSlide,
    ProductCotent,
  },
  data() {
    return {
      imgageURL: 'https://images.prismic.io/wonderbly/565c7ce8-962d-4d61-acec-6bffa5a8be17_OMS_US_Testimonial.gif',
      title: 'My Mommy The Superhero',
      desc: 'A rampaging robot is on the loose, and there’s only one person who can save the day... Mom! Turn her into a superhero in this incredible personalized storybook, made for up to four children.',
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
@media (max-width: 768px) {
  .row.container {
    padding: 0 4rem !important;
  }
}
@media (max-width: 576px) {
  .row.container {
    padding: 0 !important;
  }
}
</style>
