<template>
  <div class="col-md-6 col-sm-12 product__img">
    <div class="row">
      <div class="col-2 product__img-thumb">
        <img
          v-for="(image, i) in images"
          :key="i"
          :src="image"
          data-target="#productImageId"
          :data-slide-to="i"
          :alt="image"
          class="img-thumbnail"
        />
      </div>
      <div class="col-10 product__img-large">
        <div id="productImageId" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              v-for="(image, i) in images"
              :key="i"
              data-target="#productImageId"
              :data-slide-to="i"
              :class="[i === 0 ? 'active' : '']"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div v-for="(image, i) in images" :key="i" :class="[i === 0 ? 'active' : '', 'carousel-item']">
              <img class="d-block w-100" :src="image" :alt="image" />
            </div>
          </div>
          <a class="carousel-control-prev" href="#productImageId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#productImageId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgageURL: 'https://images.prismic.io/wonderbly/565c7ce8-962d-4d61-acec-6bffa5a8be17_OMS_US_Testimonial.gif',
      images: [
        'https://images.prismic.io/wonderbly/80b53fa3-2ec3-4e94-a62b-e545017e029a_OMS_US_Carousel_01.jpg',
        'https://images.prismic.io/wonderbly/2107f7b3-a932-49da-8b1b-75e4adec91a5_OMS_US_Carousel_02.jpg',
        'https://images.prismic.io/wonderbly/edaf3ea2-eb66-4eaa-a6dd-56268f8b525d_OMS_US_Carousel_03.jpg',
        'https://images.prismic.io/wonderbly/c3c12bb0-46e9-4d47-af3e-58253721aad7_OMS_US_Carousel_04.jpg',
      ],
      title: 'My Mommy The Superhero',
      desc: 'A rampaging robot is on the loose, and there’s only one person who can save the day... Mom! Turn her into a superhero in this incredible personalized storybook, made for up to four children.',
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.product__img {
  &-thumb {
    .img-thumbnail {
      border: none;
      &:hover {
        transform: translateX(-0.25rem);
        border: 1px solid $primary-color;
      }
    }
  }
  &-large {
    padding: 0;
  }
  .carousel-indicators li {
    background: $text-color;
    content: '';
    height: 1rem;
    width: 1rem;
    display: block;
    border-radius: 0.5rem;
    transition: 0.25s ease;
    &.active {
      background-color: $primary-color;
    }
  }
}
@media (max-width: 992px) {
  .product__img {
    &-thumb {
      display: none;
    }
    &-large {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
</style>
