<template>
  <div class="col-md-5 col-sm-12 product">
    <h1 class="product__title">
      {{ producInfo.title }}
    </h1>
    <div class="product__review-star">
      <span v-for="i in 5" :key="i" class="fa fa-star"></span>
    </div>
    <div class="product__desc">
      <p>{{ producInfo.desc }}</p>
      <ul>
        <li v-for="(item, i) in productIcon" :key="i">
          <i :class="`fa fa-${item.icon.name}`" :style="{ color: item.icon.color }"></i>{{ item.title }}
        </li>
      </ul>
    </div>
    <div class="product__price">
      <span>${{ producInfo.price }} USD</span>
    </div>
    <div class="product__btn">
      <NuxtLink :to="btn.path" class="btn btn-primary">{{ btn.text }}</NuxtLink>
    </div>
    <FAQ :data="prodFaqData" :showfaq="false" />
    <div class="row product__review">
      <div class="col-6 product__review-text">Rated 4.7 out of 5</div>
      <div class="col-6 product__review-star justify-content-end">
        <span v-for="i in 5" :key="i" class="fa fa-star"></span>
      </div>
      <p class="product__desc mb-0">"My granddaughter has an amazing mom, this is perfect for her!" – Sue</p>
      <a href="#" class="product__cta">Read reviews</a>
    </div>
  </div>
</template>

<script>
import { PRODUCT_ICON, PRODUCT_FAQ_DATA } from '@/const/product'
import FAQ from '../../FAQ'
export default {
  components: {
    FAQ,
  },
  data() {
    return {
      btn: {
        text: 'Personalize me',
        path: '/#',
      },
      producInfo: {
        imgageURL: 'https://images.prismic.io/wonderbly/565c7ce8-962d-4d61-acec-6bffa5a8be17_OMS_US_Testimonial.gif',
        title: 'My Mommy The Superhero',
        desc: 'A rampaging robot is on the loose, and there’s only one person who can save the day... Mom! Turn her into a superhero in this incredible personalized storybook, made for up to four children.',
        price: 34.99,
      },
      productIcon: PRODUCT_ICON,
      prodFaqData: PRODUCT_FAQ_DATA,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.product {
  margin-left: 100px;
  &__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: $title-color;
  }
  &__review {
    margin: 2rem 1.4rem 0 1.4rem;
    &-star {
      display: flex;
      align-items: center;
      span {
        color: orange;
      }
    }
    &-text {
      padding: 0;
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 600;
    }
  }
  &__desc {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: $desc-color;
    margin-top: 1.5rem;
    p {
      margin-bottom: 0;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        i {
          font-size: 1.2rem;
          margin: 0 5px;
        }
      }
    }
  }
  &__price {
    color: $primary-color;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__btn {
    display: flex;
    margin: 1rem 0;
    .btn {
      padding: 10px;
      background: $primary-color;
      font-weight: 700;
      flex-grow: 1;
      box-shadow: inset 0 -4px #176f5e, 0 2px #176f5e;
      border: none;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
  &__cta {
    display: inline-block;
    margin-top: 0.5rem;
    color: $primary-color;
    text-decoration: none;
    transition: 0.25s cubic-bezier(0.17, 0.67, 0.52, 0.97);
    font-weight: 500;
    &:hover {
      color: $text-color-hover;
    }
  }
}
@media (max-width: 1200px) {
  .product {
    margin-left: 40px;
  }
}
@media (max-width: 992px) {
  .product {
    margin-left: 10px;
    &__title {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }
}
@media (max-width: 768px) {
  .product {
    margin-left: 0px;
    margin-top: 2rem;
    &__title {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }
}
@media (max-width: 576px) {
  .product {
    margin-top: 1rem;
    .product__review {
      &-text {
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }
  }
}
</style>
