// COLORS
$primary-color: #2cb492;
$secondary-color: #3a4d5f;
// $bg-color-primary: #2cb492;
$bg-color-secondary: #eee;
$text-color: #fff;
$text-color-hover: #176f5e;
$text-color-primary: #00294c;
$text-color-secondary: #666;
$btn-color-hover: #80d2be;
$title-color: #092137;
$card-bg-color: #fff9ec;
$desc-color: #6b7a87;

$checkout-btn-color: #ffcc37;
$border-color: #d8d4c7;
$discount-color: #f27860;
$form-checkout-bg-color: #f5f5f0;
$btn-code-bg-color: #cfcdc6;
$code-bg-color: #645b9b;

// WIDTHS
$container-max-width: 1440px;
$container-mega-max-width: 1200px;
$padding-left-right: 66px;
// MIXINS
@mixin box-shadow {
  -webkit-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
