<template>
  <div class="col-xl-8 col-lg-12 address">
    <h1 class="address__title"><i class="fa fa-lock"></i>Shipping Details</h1>
    <hr />
    <form class="address__form" @submit.prevent="submitFormShipping">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">First name</label>
          <input id="inputFirstName" type="text" class="form-control" placeholder="First name" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Last name</label>
          <input id="inputLastName" type="text" class="form-control" placeholder="Last name" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputStreetAddress">Street address (or P.O. Box)</label>
        <input id="inputStreetAddress" type="text" class="form-control" placeholder="Street address (or P.O. Box)" />
      </div>
      <div class="form-group">
        <label for="inputBuildingAddress">Apt #, Building, etc. (leave blank if none)</label>
        <input id="inputBuildingAddress" type="text" class="form-control" placeholder="Apt #, Building, etc. " />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Town/City</label>
          <input id="inputCity" type="text" class="form-control" />
        </div>

        <div class="form-group col-md-6">
          <label for="inputZip">ZIP / Postcode</label>
          <input id="inputZip" type="text" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCountry">Country</label>
          <select id="inputCountry" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email address</label>
          <input id="inputEmail" v-model="email" type="email" class="form-control" placeholder="Email address" />
          <p v-if="emailInputError" class="alert alert-danger">{{ emailInputError }}</p>
          <p><i class="fa fa-info-circle"></i>We'll update you on your order status</p>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPhoneNumber">Phone number (optional)</label>
          <input id="inputPhoneNumber" type="number" class="form-control" placeholder="Phone number (optional)" />
          <p><i class="fa fa-info-circle"></i> Get free updates on where your parcel is</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary address__form-btn">Continue to delivery</button>
    </form>
    <div>
      <p class="policy">By clicking Continue, you agree to our terms & conditions and privacy policy.</p>
    </div>
  </div>
</template>

<script>
// import CartItem from './CartItem'
import { required, email } from 'vuelidate/lib/validators'
export default {
  data() {
    return {
      // loading: false,
      // message: null,
      email: '',
    }
  },
  validations: {
    email: { required, email },
  },
  computed: {
    emailInputError() {
      let error = ''
      if (!this.$v.email.$dirty) return error
      if (!this.$v.email.required) return (error = 'Email không được để trống!')
      if (!this.$v.email.email) return (error = 'Email không đúng định dạng!')
      return error
    },
  },
  methods: {
    submitFormShipping() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        // xu ly tiep
        // this.loading = true;
        // this.message = 'Cho xu ly'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.address {
  box-shadow: 0 1px 3px rgba(58, 77, 95, 20%);
  background: #fff;
  padding: 1.5rem;
  &__title {
    font-size: 1.375rem;
    font-weight: 700;
    color: #00294c;
    line-height: 1.375rem;
    i {
      margin-right: 10px;
      font-size: 1.5rem;
    }
  }
  hr {
    display: block;
    height: 0.125rem;
    border: 0;
    border-top: 0.0625rem solid #d8d4c7;
    margin: 0.625rem -0.9375rem;
  }
  &__form {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #6b7a87;
    .form-group {
      // select {
      //   max-width: 100%;
      //   option {
      //     width: auto;
      //   }
      // }
      input:focus,
      select:focus {
        border: 1px solid $primary-color;
      }
      p {
        display: flex;
        align-items: baseline;
        font-size: 0.875rem;
        margin-top: 0.25rem;
        i {
          margin-right: 5px;
        }
      }
    }
    &-btn {
      font-size: 1.375rem;
      margin: 0.5rem 0;
      padding: 10px;
      background: $primary-color;
      font-weight: 700;
      flex-grow: 1;
      border: none;
      width: 100%;
      &:hover {
        background: #80d2be;
        color: #fff;
      }
    }
  }
  .policy {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #6b7a87;
    text-align: center;
    margin-top: 1rem;
  }
}
@media (max-width: 1200px) {
  .address {
    padding: 0.5rem;
  }
}
</style>
