<template>
  <div class="feature">
    <div class="feature__card row">
      <div v-for="(item, i) in data" :key="i" class="col-xl-3 col-6">
        <div class="row">
          <div class="feature__img col-xl-3 col-2">
            <img :src="item.imageURL" alt="" />
          </div>
          <div class="feature__content col-xl-9 col-10">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.desc }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.feature {
  max-width: $container-max-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  .feature__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 1rem;

    .feature__img {
      padding: 0;
      margin: auto;
      text-align: center;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .feature__content {
      padding: 0;
      .card {
        border: none;
        .card-body {
          padding: 1.25rem 10px;
          .card-title {
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-weight: 700;
            color: #00294c;
          }
          .card-text {
            margin: 0;
            font-weight: 400;
            color: #6b7a87;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .feature {
    .feature__card {
      .feature__content {
        .card {
          .card-body {
            padding: 5px;
            .card-title {
              font-size: 1rem;
              line-height: 1.375rem;
            }
            .card-text {
              display: none;
            }
          }
        }
      }
    }
  }
}
</style>
