<template>
  <div class="card">
    <div class="card-header text-white text-center" :style="{ backgroundColor: item.badge.backgroundColor }">
      {{ item.badge.name }}
    </div>
    <div class="card__img card-img-top">
      <img v-if="item.imageURL" :src="item.imageURL" alt="260x130" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p v-if="item.desc" class="card-text">{{ item.desc }}</p>
      <div class="card__detail">
        <div class="card__detail-age">{{ item.age }}</div>
        <div class="card__detail-price">{{ item.price }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  &:hover {
    transform: translateY(-0.15rem);
  }
  .card-header {
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
  .card__img {
    text-align: center;
    background: $card-bg-color;
    img {
      width: 50%;
      object-fit: cover;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .card-body {
    padding: 1rem;
    .card-title {
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: $text-color-primary;
      margin-bottom: 10px;
    }
    .card-text {
      font-size: 0.9rem;
      line-height: 1.4rem;
      min-height: 66px;
      color: $text-color-secondary;
      margin-bottom: 0;
    }
    .card__detail {
      display: flex;
      align-items: flex-end;
      padding-top: 1rem;
      &-age {
        color: $text-color-secondary;
        font-weight: 500;
      }
      &-price {
        margin-left: auto;
        color: $primary-color;
        font-weight: 700;
      }
    }
  }
}
@media (max-width: 992px) {
  .card {
    .card-text {
      min-height: 88px !important;
    }
  }
}
@media (max-width: 576px) {
  .card-text {
    min-height: 0px !important;
  }
}
</style>
