<template>
  <div class="signup">
    <form class="signup__form">
      <div class="signup__email col-lg-8">
        <input type="text" class="form-control" placeholder="Enter your email address" />
      </div>
      <div class="signup__btn col-lg-4">
        <button type="submit" class="btn btn-outline-primary">Sign me up</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem auto;
  .signup__form {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    .signup__email {
      display: flex;
      justify-content: center;
      .form-control {
        border: 1px solid $text-color-secondary;
      }
    }
    .btn-outline-primary {
      font-weight: 500;
      color: $primary-color;
      border-color: $primary-color;
      &:hover {
        background: transparent;
        box-shadow: 0 0.25rem $primary-color;
        border: 0.125rem solid $primary-color;
        transform: translateY(-4px);
      }
    }
  }
}
@media (max-width: 768px) {
  .signup {
    .signup__form {
      flex-direction: column;
      .signup__btn {
        display: flex;
        margin-top: 0.8rem;
        .btn {
          flex-grow: 1;
        }
      }
    }
  }
}
</style>
