<template>
  <div class="hero">
    <div class="hero__img col-md-6">
      <img :src="imgageURL" :alt="title" />
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ title }}</h5>
          <p class="card-text">
            {{ desc }}
          </p>
          <div class="hero__btn">
            <a href="#" class="btn btn-outline-primary">{{ btnText }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgageURL: '/images/hero-banner.jpg',
      title: 'Stories to raise confident, imaginative, book-loving kids',
      desc: ' Turn a child into the hero of their own story—and nurture their imagination, confidence, and love of reading, for life.',
      btnText: 'Read our story',
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.hero {
  display: flex;
  align-items: center;
  .hero__img img {
    width: 100%;
    object-fit: cover;
  }
  .card {
    border: none;
    max-width: 600px;
    margin-left: 80px;
    .card-title {
      font-size: 1.5rem;
      line-height: 1.875rem;
      font-weight: 700;
      color: #00294c;
    }
    .card-text {
      margin: 1.5rem 0;
      font-weight: 400;
      color: #3a4d5f;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
    .btn-outline-primary {
      font-weight: 500;
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover {
        background: transparent;
        box-shadow: 0 0.25rem $secondary-color;
        border: 0.125rem solid $secondary-color;
        transform: translateY(-4px);
      }
    }
  }
}
@media (min-width: 1600px) {
  .hero {
    padding: 0 $padding-left-right;
  }
}
@media (max-width: 1200px) {
  .hero {
    .col {
      padding: 0 !important;
    }
    .card {
      margin-left: 20px;
    }
  }
}
@media (max-width: 768px) {
  .hero {
    margin-top: 4rem;
    padding: 0;
    display: block;
    .card {
      text-align: center;
      margin-left: 20px;
      .card-title {
        font-size: 1.25rem;
        line-height: 1.625rem;
      }
    }
    .hero__btn {
      display: flex;
      .btn {
        flex-grow: 1;
      }
    }
  }
}
</style>
