<template>
  <div class="card text-white">
    <img class="card-img" :src="imgageURL" alt="Card image" />
    <div class="card-img-overlay">
      <div class="banner__content">
        <h1 class="card-title">
          {{ title }}
        </h1>
        <p class="card-text">{{ subLine }}</p>
        <button class="btn btn-outline-primary">{{ btnText }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgageURL:
        'https://images.prismic.io/wonderbly/fe90568f-caa7-4a90-9872-e26b5b950528_3_FDAY_Homepage_product_DT_promo.jpg',
      title: 'Personalized books for an extra-special Daddy',
      subLine: 'Help your little one say ‘thank you’ this Father’s Day (20 June).',
      btnText: "Shop Father's Day",
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.card {
  border: none;
  .card-img {
    width: 100%;
    object-fit: cover;
    min-height: 480px;
  }
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 26rem;
    width: calc(100% - 32px);
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    .banner__content {
      text-align: left;
      max-width: 480px;
      .card-title {
        font-size: 2.25rem;
        line-height: 2.625rem;
        font-weight: 700;
      }
      .card-text {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 400;
      }
      .btn {
        background: #f2f4f5;
        color: #6b7a87;
        transform: scale(0.95);
        border: none;
        padding: 0.8rem 2rem;
        font-weight: 700;
        outline: none;
      }
    }
  }
}
@media (min-width: 1600px) {
  .card {
    padding: 0 $padding-left-right;
  }
}
@media (max-width: 1200px) {
  .card {
    .card-img-overlay {
      width: 100%;
      .banner__content {
        text-align: left;
        .card-title {
          font-size: 2rem;
        }
        .card-text {
          font-size: 1rem;
        }
      }
    }
  }
}
</style>
