<template>
  <section class="container faq">
    <div id="accordion">
      <div v-for="item in data" :key="item.idHeading" class="card">
        <div :id="item.id" class="card-header">
          <h4>
            <button
              :class="[item.id !== 'headingOne' ? 'collapsed' : '', 'btn btn-link']"
              data-toggle="collapse"
              :data-target="`#${item.idCollapse}`"
              aria-expanded="true"
              :aria-controls="item.idCollapse"
            >
              {{ item.title }}
            </button>
          </h4>
        </div>
        <div
          :id="item.idCollapse"
          :class="[item.id === 'headingOne' ? 'show' : '', 'collapse']"
          :aria-labelledby="item.idHeading"
          data-parent="#accordion"
        >
          <div class="card-body">
            {{ item.content }}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.faq {
  max-width: $container-mega-max-width !important;
  // padding: 0 300px;
  #accordion {
    width: 100%;
    .card {
      border: none;
      h4 {
        position: relative;
        &::after {
          content: '\f078';
          position: absolute;
          font-family: fontAwesome;
          top: 50%;
          right: 1%;
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          color: $primary-color;
          font-size: 1.2rem;
        }
        .btn-link {
          font-weight: 700;
          color: $title-color;
          font-size: 1rem;
          margin: 0;
          padding: 0;
          text-decoration: none;
        }
      }
      .card-body {
        font-weight: 400;
        color: #6b7a87;
      }
    }
  }
}
</style>
