<template>
  <div class="home">
    <Banner :data="dataBannerHome" :homepage="true" />
    <div class="row container">
      <div v-for="(item, i) in bookTop" :key="i" class="card__item col-md-4 col-sm-6">
        <NuxtLink :to="item.path">
          <CardItem :item="item" :btn="btnCardProduct" />
        </NuxtLink>
      </div>
    </div>
    <CardFeature :data="featureHighlight" />
    <h3 class="home__title">Who would you like to make a book for today?</h3>

    <div class="row container">
      <div v-for="(item, i) in bookAge" :key="i" class="card__item col-md-3 col-sm-6">
        <NuxtLink :to="item.path">
          <CardItem :item="item" :color="'text-white'" :btn="btnCardProduct" />
        </NuxtLink>
      </div>
    </div>
    <HeroFeature :data="dataHeroFeature" :fluid="true" />
    <h3 class="home__title">More bestselling personalized books</h3>
    <div class="row container">
      <div v-for="(item, i) in bookBestSelling" :key="i" class="card__item col-md-4 col-sm-6">
        <NuxtLink :to="item.path">
          <CardBestSelling :item="item" />
        </NuxtLink>
      </div>
    </div>
    <h3 class="home__title">Wonderbly Personalized Books and Gifts</h3>
    <FAQ :data="faqData" />
    <h3 class="home__title">Give a gift they'll treasure forever</h3>
    <CardFeature :data="featureGift" />
    <h3 class="home__title">Get more clever ideas and swashbuckling updates</h3>
    <FormSignUp />
  </div>
</template>

<script>
import { BOOK_TOP, BOOK_AGE, BOOK_BESTSELLING, FAQ_DATA, FEATURE_HIGHLIGHT, FEATURE_GIFT } from '@/const/home'
import Banner from '../Banner'
import CardItem from '../CardItem'
import HeroFeature from '../HeroFeature'
import FAQ from '../FAQ'
import FormSignUp from '../FormSignUp'
import CardFeature from './CardFeature'
import CardBestSelling from './CardBestSelling'

export default {
  components: {
    Banner,
    CardFeature,
    HeroFeature,
    CardItem,
    CardBestSelling,
    FAQ,
    FormSignUp,
  },
  data() {
    return {
      btnCardProduct: 'Personalize me',
      dataBannerHome: {
        imageURL:
          'https://images.prismic.io/wonderbly/fe90568f-caa7-4a90-9872-e26b5b950528_3_FDAY_Homepage_product_DT_promo.jpg',
        title: 'Personalized books for an extra-special Daddy',
        subLine: 'Help your little one say ‘thank you’ this Father’s Day (20 June).',
        btn: {
          show: true,
          text: "Shop Father's Day",
          path: '/#',
        },
      },
      dataHeroFeature: {
        imageURL: '/images/hero-banner.jpg',
        title: 'Stories to raise confident, imaginative, book-loving kids',
        desc: ' Turn a child into the hero of their own story—and nurture their imagination, confidence, and love of reading, for life.',
        btn: {
          show: true,
          text: 'Read our story',
          path: '/#',
        },
      },
      bookTop: BOOK_TOP,
      bookAge: BOOK_AGE,
      bookBestSelling: BOOK_BESTSELLING,
      faqData: FAQ_DATA,
      featureHighlight: FEATURE_HIGHLIGHT,
      featureGift: FEATURE_GIFT,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.home {
  overflow-x: hidden;
  .container {
    max-width: $container-max-width;
    display: flex;
    margin: 1.5rem auto;
  }
  .home__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-top: 3.5rem;
    text-align: center;
  }
  .card__item a {
    text-decoration: none;
  }
}

@media (max-width: 1200px) {
  .home {
    padding: 10px;
    .container {
      padding: 0;
      .card__item {
        padding: 0 0.2rem;
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 992px) {
  .card__item {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .home {
    .home__title {
      font-size: 1.25rem;
      line-height: 1.625rem;
      margin-bottom: 1rem;
    }
  }
}
</style>
