<template>
  <div :class="[homepage ? 'banner__home' : '', 'card text-white']">
    <img v-if="data.imageURL" class="card-img" :src="data.imageURL" alt="Card image" />
    <div class="card-img-overlay">
      <div class="banner__content">
        <h1 class="card-title">
          {{ data.title }}
        </h1>
        <p class="card-text">{{ data.subLine }}</p>
        <div v-if="data.btn.show" class="banner__btn">
          <NuxtLink :to="data.btn.path" class="btn btn-primary">{{ data.btn.text }}</NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
          subLine: '',
          btn: {},
        }
      },
    },
    homepage: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.card {
  border: none;
  &.banner__home {
    .card-img {
      width: 100%;
      object-fit: cover;
      min-height: 480px;
    }
    .card-img-overlay {
      .banner__content {
        max-width: 480px;
        .card-title {
          font-size: 2.25rem;
          line-height: 2.625rem;
          font-weight: 700;
        }
      }
    }
  }
  .card-img {
    width: 100%;
    object-fit: cover;
    min-height: 330px;
  }
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - 32px);
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    .banner__content {
      text-align: left;
      max-width: 600px;
      .card-title {
        font-size: 1.5rem;
        line-height: 1.875rem;
        font-weight: 600;
      }
      .card-text {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 400;
      }
    }
  }
  &.banner__home {
    .card-img {
      width: 100%;
      object-fit: cover;
      min-height: 480px;
    }
    .card-img-overlay {
      .banner__content {
        max-width: 480px;
        .card-title {
          font-size: 2.25rem;
          line-height: 2.625rem;
          font-weight: 700;
        }
        .btn {
          background-color: $bg-color-secondary;
          color: $desc-color;
          transform: scale(0.95);
          border: none;
          padding: 0.8rem 2rem;
          font-weight: 700;
          outline: none;
          &:hover {
            background-color: $card-bg-color;
          }
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .card {
    padding: 0 $padding-left-right;
  }
}
@media (max-width: 1200px) {
  .card {
    .card-img-overlay {
      width: 100%;
      .banner__content {
        text-align: left;
        max-width: 50%;
        .card-title {
          font-size: 1.25rem;
          line-height: 1.625rem;
        }
      }
    }
    &.banner__home {
      .card-img-overlay {
        .banner__content {
          .card-title {
            font-size: 1.8rem;
            line-height: 2rem;
          }
          .card-text {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
</style>
