<template>
  <div class="card">
    <div class="card__img">
      <img v-if="item.imageURL" :src="item.imageURL" alt="260x130" />
    </div>
    <div class="card-img-overlay">
      <h5 :class="[color, 'card-title']">{{ item.title }}</h5>
      <p v-if="item.desc" :class="[color, 'card-text']">{{ item.desc }}</p>
      <div class="card__btn">
        <button class="btn btn-primary">{{ btn }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
          path: '',
        }
      },
    },
    btn: {
      type: String,
      default: 'Buy Now',
    },
    color: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.card {
  border: none;
  background: transparent;
  .card__img {
    background: $primary-color;
    img {
      width: 100%;
      object-fit: cover;
      min-height: 300px;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
  .card-img-overlay {
    text-align: center;
    .card-title {
      color: $text-color-primary;
      margin-bottom: 0;
    }
    .card-text {
      color: $text-color-secondary;
    }
    .card__btn {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 10%;
      .btn-primary {
        background: $primary-color;
        border: none;
        font-weight: 600;
        &:hover {
          background: $btn-color-hover;
          color: $text-color;
          transform: scale(0.95);
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .card {
    padding: 10px;
    .card-img-overlay {
      margin-top: 10px;
      .card-title {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }
  }
}
@media (max-width: 576px) {
  .card {
    .card__btn {
      display: none;
    }
  }
}
</style>
