<template>
  <section class="container faq">
    <div id="accordion">
      <div v-for="item in data" :key="item.idHeading" class="card">
        <div :id="item.idHeading" class="card-header">
          <h4>
            <button
              :class="[item.idHeading !== 'headingOne' && showfaq ? 'collapsed' : '', 'btn btn-link']"
              data-toggle="collapse"
              :data-target="`#${item.idCollapse}`"
              aria-expanded="true"
              :aria-controls="item.idCollapse"
            >
              {{ item.title }}
            </button>
          </h4>
        </div>
        <div
          :id="item.idCollapse"
          :class="[item.idHeading === 'headingOne' && showfaq ? 'show' : '', 'collapse']"
          :aria-labelledby="item.idHeading"
          data-parent="#accordion"
        >
          <div class="card-body">
            {{ item.content }}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      },
    },
    showfaq: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.faq {
  max-width: $container-mega-max-width !important;
  padding: 0;
  #accordion {
    width: 100%;
    .card {
      border: none;
      .card-header {
        padding: 10px;
        h4 {
          position: relative;
          .btn-link {
            width: 100%;
            text-align: left;
            font-weight: 600;
            color: $title-color;
            font-size: 1rem;
            margin: 0;
            padding: 0;
            text-decoration: none;
            &::after {
              content: '\f078';
              position: absolute;
              font-family: fontAwesome;
              top: 50%;
              right: 1%;
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 0.255em;
              vertical-align: 0.255em;
              color: $primary-color;
              font-size: 1.2rem;
            }
          }
        }
      }
      .card-body {
        font-weight: 400;
        color: #6b7a87;
      }
    }
  }
}
</style>
