<template>
  <div class="signup">
    <form class="signup__form" @submit.prevent="signUp">
      <div v-if="emailInputError" class="row">
        <div class="alert alert-danger" role="alert">{{ emailInputError }}</div>
      </div>
      <div v-if="message" class="row">
        <div class="alert alert-primary" role="alert">{{ message }}</div>
      </div>
      <div class="row">
        <div class="signup__email col-lg-8">
          <input v-model="email" type="text" class="form-control" placeholder="Enter your email address" />
        </div>
        <div class="signup__btn col-lg-4">
          <button type="submit" class="btn btn-outline-primary">Sign me up</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
export default {
  data() {
    return {
      // loading: false,
      message: null,
      email: '',
    }
  },
  validations: {
    email: { required, email },
  },
  computed: {
    emailInputError() {
      let error = ''
      if (!this.$v.email.$dirty) return error
      if (!this.$v.email.required) return (error = 'Email không được để trống!')
      if (!this.$v.email.email) return (error = 'Email không đúng định dạng!')
      return error
    },
  },
  methods: {
    signUp() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        // xu ly tiep
        // this.loading = true;
        this.message = 'Cho xu ly'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem auto;
  .signup__form {
    width: 100%;
    max-width: 600px;
    .row {
      display: flex;
      justify-content: center;
      margin: 0;
      .alert {
        flex-grow: 1;
      }
      .signup__email {
        display: flex;
        justify-content: center;
        min-height: 40px;
        .form-control {
          border: 1px solid $text-color-secondary;
        }
      }
      .signup__btn {
        display: flex;
        .btn-outline-primary {
          flex-grow: 1;
          font-weight: 500;
          color: $primary-color;
          border-color: $primary-color;
          &:hover {
            background: transparent;
            box-shadow: 0 0.25rem $primary-color;
            border: 0.125rem solid $primary-color;
            transform: translateY(-4px);
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .signup {
    .signup__form {
      flex-direction: column;
      .signup__btn {
        display: flex;
        margin-top: 0.8rem;
        .btn {
          flex-grow: 1;
        }
      }
    }
  }
}
</style>
