<template>
  <div :class="[fluid ? 'hero__fluid' : 'container', direction, 'hero']">
    <div class="hero__img col-lg-6 col-12">
      <img :src="data.imageURL" :alt="data.title" />
    </div>
    <div class="hero__content col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ data.title }}</h5>
          <p class="card-text">
            {{ data.desc }}
          </p>
          <div v-if="data.btn.show" class="hero__btn">
            <NuxtLink :to="data.btn.path" class="btn btn-outline-primary">{{ data.btn.text }}</NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {
        return {
          imageURL: '/images/hero-banner.jpg',
          title: '',
          desc: '',
          btn: {
            show: false,
            text: '',
            path: '/#',
          },
        }
      },
    },
    direction: {
      type: String,
      default: '',
    },
    fluid: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .hero__img img {
    width: 100%;
    object-fit: cover;
  }
  .card {
    border: none;
    max-width: 100%;
    .card-title {
      font-size: 1.5rem;
      line-height: 1.875rem;
      font-weight: 700;
      color: $title-color;
    }
    .card-text {
      font-weight: 400;
      color: $secondary-color;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
    .btn-outline-primary {
      font-weight: 500;
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover {
        background: transparent;
        box-shadow: 0 0.25rem $secondary-color;
        border: 0.125rem solid $secondary-color;
        transform: translateY(-4px);
      }
    }
  }
  &.flex-row-reverse {
    .card-body {
      text-align: right;
    }
  }
}
@media (min-width: 1600px) {
  .hero__fluid {
    padding: 0 $padding-left-right;
  }
}
@media (max-width: 1200px) {
  .hero {
    .hero__content {
      padding: 0 !important;
    }
  }
}
@media (max-width: 992px) {
  .hero.flex-row-reverse {
    .card-body {
      text-align: left;
    }
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 0;
    display: block;
    .card {
      .card-title {
        font-size: 1.25rem;
        line-height: 1.625rem;
      }
    }
    .hero__btn {
      display: flex;
      .btn {
        flex-grow: 1;
      }
    }
    &__fluid {
      margin-top: 4rem;
      .card {
        text-align: center;
        margin-left: 20px;
      }
    }
  }
}
</style>
