<template>
  <div class="container">
    <NuxtLink to="/">
      <img src="logo.svg" alt="Logo" class="logo" />
    </NuxtLink>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li v-for="item in components" :key="item.component" class="breadcrumb-item">
          <a :class="component === item.component ? 'active' : ''" @click="$emit('change-component', item.component)">{{
            item.name
          }}</a>
        </li>
      </ol>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    component: {
      type: String,
      default: 'ShippingDetail',
    },
  },
  data() {
    return {
      components: [
        {
          name: 'Shipping Details',
          component: 'ShippingDetail',
        },
        {
          name: 'Delivery',
          component: 'Delivery',
        },
        {
          name: 'Review & Pay',
          component: 'ReviewPay',
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.container {
  max-width: $container-max-width;
  display: flex;
  align-items: center;
  .logo {
    height: 40px;
    padding-top: 1px;
  }
  .breadcrumb {
    background: transparent;
    margin: auto 0;
    .breadcrumb-item {
      font-size: 1.25rem;
      line-height: 1.875rem;
      font-weight: 700;
      &:not(:first-child):before {
        content: '\f105 ';
        font-family: fontAwesome;
        color: #b5bcc3;
      }
      a {
        &.active {
          color: #176f5e;
        }
        color: #b5bcc3;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .container {
    .breadcrumb {
      .breadcrumb-item {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}
</style>
