<template>
  <div>
    <Header :component="component" @change-component="changeComponent" />
    <section class="checkout">
      <keep-alive>
        <component :is="component" :data="dataCartProduct" />
      </keep-alive>
    </section>
    <Footer />
  </div>
</template>

<script>
import { CART_PORDUCT } from '@/const/cart'
// import Header from '@/components/layouts/Checkout/Header'
import Header from './Header'
import Footer from './Footer'
import ShippingDetail from './ShippingDetail'
import Delivery from './Delivery'
import ReviewPay from './ReviewPay'
export default {
  components: {
    Header,
    Footer,
    ShippingDetail,
    Delivery,
    ReviewPay,
  },
  data() {
    return {
      tabs: ['ShippingDetail', 'Delivery', 'ReviewPay'],
      component: 'ShippingDetail',
      dataCartProduct: CART_PORDUCT,
    }
  },
  methods: {
    changeComponent(tab) {
      this.component = tab
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.checkout {
  background: #f5f5f0;
  overflow-x: hidden;
}
@media (max-width: 576px) {
  .checkout {
    padding: 0 1rem;
  }
}
</style>
