<template>
  <Delivery />
</template>

<script>
import Delivery from '@/components/Checkout/Delivery'
export default {
  components: {
    Delivery,
  },
}
</script>

<style lang="scss" scoped></style>
