<template>
  <Checkout />
</template>

<script>
import Checkout from '@/components/Checkout/'
export default {
  components: {
    Checkout,
  },
  layout: 'checkout',
}
</script>

<style lang="scss" scoped></style>
