<template>
  <ReviewPay />
</template>

<script>
import ReviewPay from '@/components/Checkout/ReviewPay'
export default {
  components: {
    ReviewPay,
  },
}
</script>

<style lang="scss" scoped></style>
