<template>
  <!-- <div>
    <div class="col col-3">
      <div class="card m-2" style="">
        <img
          class="card-img-top"
          src="https://cdn.shopify.com/s/files/1/0550/7065/4629/products/159970597578add7746f_1600x.jpg?v=1617088544"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">Chi tiet san pham,</p>
        </div>
      </div>
    </div>
  </div> -->
  <Product />
</template>

<script>
import Product from '@/components/Product/'
export default {
  components: {
    Product,
  },
}
</script>

<style lang="scss" scoped></style>
