<template>
  <!-- <div>
    List product

    <div v-for="i in 10" :key="i">Product {{ i }} <nuxt-link :to="`/products/${i}`">View</nuxt-link></div>
    <hr />
    <nuxt-link to="/">Back to home</nuxt-link>
  </div> -->
  <Product />
</template>

<script>
import Product from '@/components/Product/'
export default {
  components: {
    Product,
  },
}
</script>

<style lang="scss" scoped></style>
