<template>
  <div class="col-4 help">
    <div class="col-1 help__icon"><i :class="`fa fa-${item.icon}`"></i></div>
    <div class="col-11 help__content">
      <h5 class="help__title">{{ item.title }}</h5>
      <p class="help__desc">
        {{ item.desc }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.help {
  max-width: calc(33% - 1rem);
  display: flex;
  padding: 1rem;
  background-color: #efeee8;
  &:not(:last-child) {
    margin-right: 1rem;
  }
  &__icon {
    color: #6b7a87;
  }
  &__title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #00294c;
  }
  &__desc {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #6b7a87;
  }
}
</style>
