<template>
  <div class="footer">
    <div class="row container">
      <FooterItem v-for="(item, i) in dataHelp" :key="i" :item="item" />
    </div>
  </div>
</template>

<script>
import { FOOTER_CHECKOUT } from '@/const/checkout'
import FooterItem from './FooterItem'
export default {
  components: {
    FooterItem,
  },
  data() {
    return {
      dataHelp: FOOTER_CHECKOUT,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.footer {
  background-color: #f5f5f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  .container {
    border-top: 0.0625rem solid #d8d4c7;
    padding-top: 1.5rem;
  }
}
</style>
