<template>
  <section class="product__detail">
    <ProductDetail />
    <Banner :data="bannerProduct" />
    <HeroFeature :data="dataHero" />
    <HeroFeature :data="dataHeroResever" :direction="'flex-row-reverse'" />
    <h3 class="product__title">My Mommy The Superhero Book FAQs</h3>
    <FAQ :data="faqData" />
    <h3 class="product__title">More Wonderbly books to make your child feel loved</h3>
    <div class="row container">
      <div v-for="(item, i) in bookAge" :key="i" class="card__item col-md-4 col-sm-6">
        <NuxtLink :to="item.path">
          <CardItem :item="item" :color="'text-white'" :btn="btnCardProduct" />
        </NuxtLink>
      </div>
    </div>
    <h3 class="product__title">Get more clever ideas and swashbuckling updates</h3>
    <FormSignUp />
  </section>
</template>

<script>
import { BOOK_AGE, FAQ_DATA } from '@/const/product'

import CardItem from '../CardItem'
import Banner from '../Banner'
import HeroFeature from '../HeroFeature'
import FormSignUp from '../FormSignUp'
import FAQ from '../FAQ'
import ProductDetail from './ProductDetail'

export default {
  components: {
    ProductDetail,
    Banner,
    HeroFeature,
    FAQ,
    CardItem,
    FormSignUp,
  },
  data() {
    return {
      btnCardProduct: 'Explore range',
      dataHero: {
        imageURL: 'https://images.prismic.io/wonderbly/425c25bf-c555-4f5c-a093-916cdd7b238c_OMS_US_PAR01.jpg',
        title: 'Raise confident, imaginative, book-loving kids',
        desc: ' Turn a child into the hero of their own story—and nurture their imagination, confidence, and love of reading, for life.',
        btn: {
          show: false,
        },
      },
      dataHeroResever: {
        imageURL: 'https://images.prismic.io/wonderbly/16fea3d5-ca88-4227-88b6-2d5e984786df_OMS_US_PAR02.gif',
        title: 'Confident, imaginative, book-loving kids',
        desc: ' Turn a child into the hero of their own story—and nurture their imagination, confidence, and love of reading, for life.',
        btn: {
          show: false,
        },
      },
      bookAge: BOOK_AGE,
      faqData: FAQ_DATA,
      bannerProduct: {
        imageURL: 'https://images.prismic.io/wonderbly/565c7ce8-962d-4d61-acec-6bffa5a8be17_OMS_US_Testimonial.gif',
        title: '"I like that the book is personalized and that you can add so many characters. Adorable gift!"',
        subLine: '– Nick',
        btn: {
          show: false,
        },
      },
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.product__detail {
  overflow-x: hidden;
  margin-top: 1rem;
  .container {
    max-width: $container-max-width;
    display: flex;
    margin: 1.5rem auto;
  }
  .product__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-top: 3.5rem;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .product__detail {
    padding: 10px;
    .container {
      padding: 0;
      .card__item {
        padding: 0 0.2rem;
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 992px) {
  .card__item {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .product__detail {
    .product__title {
      font-size: 1.25rem;
      line-height: 1.625rem;
      margin-bottom: 1rem;
    }
  }
}
</style>
