<template>
  <div class="container">
    <div class="row gutters">
      <div @click="$router.push('/products')" class="col col-3" v-for="i in 12" :key="i">
        <div class="card m-2" style="">
          <img
            class="card-img-top"
            src="https://cdn.shopify.com/s/files/1/0550/7065/4629/products/159970597578add7746f_1600x.jpg?v=1617088544"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              Collection {{ i }} Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
          </div>
        </div>
      </div>
      <!-- <hr />
    <nuxt-link to="/">Back to home</nuxt-link> -->
    </div>
  </div>
</template>
<script>
export default {}
</script>
<style lang="scss" scoped></style>
