<template>
  <div class="row cart__product">
    <div class="col-md-10 col-8">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12" @click="toggleImageZoom">
          <div class="cart__product-img">
            <img :src="item.imageURL" alt="asd" /><i v-if="!item.btn.show" class="fa fa-search-plus"></i>
          </div>
          <Modal :show="showModal" :item="item" />
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12">
          <div class="row product">
            <h3 class="product__title">{{ item.title }}</h3>
            <p class="product__subline">{{ item.category }}</p>
            <div v-if="item.gifts.show">
              <p class="product__subline">+ Gift wrap</p>
              <ul>
                <li v-for="(gift, i) in item.gifts.options" :key="i">
                  <NuxtLink :to="gift.path"><i :class="`fa fa-${gift.icon}`"></i>{{ gift.title }}</NuxtLink>
                </li>
              </ul>
            </div>
            <div v-if="item.btn.show" class="product__btn">
              <NuxtLink :to="item.btn.path" class="btn btn-outline-primary">{{ item.btn.text }}</NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!item.btn.show" class="col-md-2 col-4">
      <span class="product__price">${{ item.price }} USD <i class="fa fa-trash"></i></span>
    </div>
  </div>
</template>

<script>
import Modal from './Modal'
export default {
  components: {
    Modal,
  },
  props: {
    item: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
          price: 0,
          category: '',
          gifts: {
            show: false,
          },
          btn: {
            show: false,
          },
        }
      },
    },
  },
  data() {
    return {
      showModal: false,
    }
  },
  methods: {
    toggleImageZoom() {
      this.showModal = !this.showModal
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.cart__product {
  min-height: 8.4375rem;
  @include box-shadow;
  background-color: $text-color;
  padding: 1rem;
  margin-bottom: 1rem;
  &-img {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      max-width: 5.875rem;
      min-height: 94px;
    }
    i {
      position: absolute;
      font-size: 1.2rem;
      bottom: -20%;
      left: 50%;
      background: #000;
      color: $text-color;
      padding: 7px;
      border-radius: 50%;
    }
  }
}
.product {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border-left: 1px solid $border-color;
  min-height: 120px;

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  &__subline {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: $desc-color;
    margin: 0;
    padding-top: 5px;
  }
  ul {
    padding: 0;
    margin-top: 0.5rem;
    li {
      list-style: none;

      border: none;
      display: block;
      width: 100%;
      a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
          color: $text-color-hover;
        }
        i {
          margin: 0 10px;
        }
      }
    }
  }
  &__price {
    font-weight: 500;
    color: $desc-color;
    font-size: 1rem;
    line-height: 1.375rem;
    position: relative;
    i {
      position: absolute;
      bottom: 0;
      right: -40%;
      cursor: pointer;
      color: red;
      font-size: 1.2rem;
    }
  }
  &__btn {
    margin-top: 1rem;
    .btn-outline-primary {
      font-weight: 500;
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover {
        background: transparent;
        box-shadow: 0 0.25rem $secondary-color;
        border: 0.125rem solid $secondary-color;
        transform: translateY(-4px);
      }
    }
  }
}
@media (max-width: 768px) {
  .cart__product {
    &-img {
      i {
        left: 10%;
      }
    }
    .product {
      border: none;
      &__title {
        margin-top: 1.5rem;
      }
    }
  }
}
</style>
