<template>
  <div class="col-xl-8 col-lg-12 cart__product">
    <CartItem v-for="item in data" :key="item.id" :item="item" />
    <div class="row code">
      <h2 class="code__title">
        {{ codeText }} <span>{{ btnText }}</span>
      </h2>
      <p class="code__subline">{{ subText }}</p>
    </div>
    <CartItem v-for="item in dataCartProductUpSell" :key="item.id" :item="item" />
    <div class="row upsell">
      <p class="upsell__text">{{ ctaText }}</p>
      <NuxtLink :to="btnAction.path" class="btn btn-outline-primary">{{ btnAction.text }}</NuxtLink>
    </div>
  </div>
</template>

<script>
import { CART_PORDUCT_UPSELL } from '@/const/cart'
import CartItem from './CartItem'
export default {
  components: {
    CartItem,
  },
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
  data() {
    return {
      dataCartProductUpSell: CART_PORDUCT_UPSELL,
      codeText: 'Save 50% on your second book from the series with code',
      btnText: 'Fatherday',
      subText: 'Get the set and save!',
      ctaText: 'Who else could you inspire with the magic of Wonderbly?',
      btnAction: {
        text: 'Add another book now',
        path: '/#',
      },
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.code {
  background-color: $code-bg-color;
  color: $text-color;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 0 0 0.25rem;
    span {
      text-transform: uppercase;
      background-color: $checkout-btn-color;
      font-size: 80%;
      padding: 0.25rem;
      display: inline-block;
      margin: 0 0.25rem;
      border-radius: 0.25rem;
      color: $title-color;
      font-weight: 500;
    }
  }
  &__subline {
    margin: 0;
  }
}
.upsell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-weight: 400;
  color: $desc-color;
  .btn {
    max-width: 50%;
    background: transparent;
    box-shadow: 0 0.25rem $primary-color;
    border: 0.125rem solid $primary-color;
    color: $primary-color;
    transform: scale(0.95);
    font-weight: 400;
    padding: 0.5rem 2.375rem;
    text-align: center;
    transition: 0.25s cubic-bezier(0.17, 0.67, 0.52, 0.97);
    &:hover {
      transform: translateY(-4px);
    }
    &:active,
    &:focus {
      background: transparent;
      box-shadow: 0 0.25rem $primary-color;
      border: 0.125rem solid $primary-color;
      color: $primary-color;
    }
  }
}
@media (max-width: 768px) {
  .code {
    &__title {
      line-height: 2rem;
    }
  }
  .upsell {
    .btn {
      max-width: 100%;
    }
  }
}
</style>
