<template>
  <div
    v-if="show"
    id="imagemodal"
    class="show modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <div class="modal-body">
          <div class="modal-body__img">
            <img :src="item.imageURL" class="imagepreview" style="width: 100%" />
          </div>
          <div class="modal-body__title">
            <h4>{{ item.title }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
        }
      },
    },

    show: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
#imagemodal {
  display: block;
  padding-right: 17px;
  padding-top: 2rem;
  background-color: hsla(0, 0%, 100%, 0.5);
  .modal-dialog {
    .modal-content {
      background-color: rgb(229, 237, 244);
      .close {
        margin-left: auto;
        font-size: 2rem;
        padding-right: 1rem;
        &:focus {
          outline: none;
        }
      }
      .modal-body {
        padding: 0;
        &__img {
          margin: auto;
          width: 100%;
          max-width: 26.25rem;
          padding: 1rem 1rem 1.5rem;
          & {
            width: 100%;
            object-fit: cover;
          }
        }
        &__title {
          width: 100%;
          background: $text-color;
          padding: 1rem;
          text-align: center;
          h4 {
            font-size: 1.5rem;
            line-height: 1.875rem;
            margin: 0 0 1rem;
            font-weight: 700;
            color: $text-color-primary;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #imagemodal {
    padding: 2rem;
    .modal-dialog {
      .modal-content {
        .modal-body__title {
          h4 {
            font-size: 1.25rem;
            line-height: 1.625rem;
          }
        }
      }
    }
  }
}
</style>
