<template>
  <div class="shipping__item">
    <form>
      <label>
        <input type="radio" name="radio" checked />
        <div class="shipping__content">
          <div class="shipping__title">
            <span>Standard</span>
            <span>Estimated delivery: June 8 2021</span>
          </div>
          <div class="shipping__price"><span> $9.99 USD </span></div>
        </div>
        <p class="shipping__desc">Delivered by your trusty postperson with the speed and reliability you’re used to.</p>
      </label>
      <label>
        <input type="radio" name="radio" />
        <div class="shipping__content">
          <div class="shipping__title">
            <span>Speedy</span>
            <span>Estimated delivery: June 4 2021</span>
          </div>
          <div class="shipping__price"><span> $19.99 USD </span></div>
        </div>
        <p class="shipping__desc">
          So speedy, it’ll get to you much faster than standard delivery. And you can follow your parcel online. (No PO
          Boxes please)
        </p>
      </label>
    </form>
  </div>
</template>

<script>
// import CartItem from './CartItem'
export default {}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  // overflow: hidden;
  margin-bottom: 0.375em;
  input {
    position: absolute;
    left: -9999px;
    &:checked + .shipping__content {
      // .shipping__title {
      color: $primary-color;
      // }
      &:before {
        background-color: $primary-color;

        box-shadow: inset 0 0 0 0.2em #fff;
      }
    }
  }
  .shipping__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em; // or something higher...
    transition: 0.25s ease;
    color: #645b9b;
    font-weight: 600;
    &:before {
      display: flex;
      flex-shrink: 0;
      content: '';
      background-color: transparent;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      transition: 0.25s ease;
      border: 0.125rem solid #d8d4c6;
      box-shadow: inset 0 0 0 0.125em #eee;
    }
  }
  .shipping__desc {
    margin-left: 2.4rem;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #6b7a87;
  }
  .shipping__price {
    margin-left: auto;
  }
  .shipping__title {
    span {
      display: block;
    }
  }
}
</style>
