<template>
  <div class="col-xl-8 col-lg-12 shipping">
    <h1 class="shipping__title">Shipping Speed</h1>
    <hr />
    <div class="shipping__item">
      <!-- <ShippingItem v-for="i in 2" :key="i" /> -->
      <ShippingItem />
    </div>
    <button type="submit" class="btn btn-primary shipping__btn">Continue to payment</button>
  </div>
</template>

<script>
import ShippingItem from './ShippingItem'
export default {
  components: {
    ShippingItem,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.shipping {
  box-shadow: 0 1px 3px rgba(58, 77, 95, 20%);
  background: #fff;
  max-height: 500px;
  padding: 1.5rem;
  &__title {
    font-size: 1.375rem;
    font-weight: 700;
    color: #00294c;
    line-height: 1.375rem;
  }
  hr {
    display: block;
    height: 0.125rem;
    border: 0;
    border-top: 0.0625rem solid #d8d4c7;
    margin: 0.625rem -0.9375rem;
  }
  &__btn {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding: 10px;
    background: $primary-color;
    font-weight: 700;
    flex-grow: 1;
    border: none;
    width: 100%;
    &:hover {
      background: #80d2be;
      color: #fff;
    }
  }
}
</style>
