<template>
  <div class="payment">
    <div class="payment__title">
      <h2 class="payment__title-heading">Choose your payment method</h2>
      <span><i class="fa fa-lock"></i>Secure and encrypted payment</span>
    </div>
    <div id="accordion" class="payment__method">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <img
                src="https://images.prismic.io/wonderbly/b30fbada-45fd-4189-819a-8154e89c01b3_visa-mastercard-american-express-logos-american-express-11563310354wrjblwjvhy.png"
                alt=""
              />
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p>Complete the payment by card.</p>
            <NuxtLink to="/#" class="btn btn-primary payment__checkout"
              ><span>Pay with card $107.96 USD</span></NuxtLink
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <img
                src="https://images.prismic.io/wonderbly/163c82c2-42ab-4a2e-95cb-2c48846efe9e_paypal-logo-png.png"
                alt=""
              />
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p>Complete the payment with PayPal.</p>
            <a href="/#" class="payment__paypal"><span>PayPal</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      },
    },
    showfaq: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.payment {
  background: #fff;
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    &-heading {
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.375rem;
      color: #00294c;
    }
    span {
      color: #aca99d;
      background: #f5f5f0;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      align-self: flex-start;
      line-height: 1.125rem;
      i {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  &__method {
    padding: 0;
    // width: 100%;
    .card {
      border: none;
      .card-header {
        padding: 10px;
        h5 {
          position: relative;
          .btn-link {
            // width: 100%;
            text-align: left;
            font-weight: 600;
            color: $title-color;
            font-size: 1rem;
            margin: 0;
            padding: 0;
            text-decoration: none;
            img {
              max-width: 120px;
              max-height: 1.875rem;
              width: 100%;
              object-fit: cover;
            }
            &::after {
              content: '\f078';
              position: absolute;
              font-family: fontAwesome;
              top: 0%;
              right: 4%;
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 0.255em;
              vertical-align: 0.255em;
              color: $primary-color;
              font-size: 1rem;
              // background: #fff;
              // padding: 5px;
              // border-radius: 50%;
            }
          }
        }
      }
      .card-body {
        .payment__checkout {
          width: 100%;
          margin: 0.5rem 0;
          padding: 10px;
          background: $primary-color;
          font-weight: 700;
          flex-grow: 1;
          box-shadow: inset 0 -4px $text-color-hover, 0 2px $text-color-hover;
          border: none;
          span {
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none;
            i {
              margin-right: 0.5rem;
              font-size: 1.4rem;
            }
          }
          &:hover {
            transform: translateY(-2px);
          }
        }
        .payment__paypal {
          display: inline-block;
          background-color: #ffc439;
          background-image: url('/images/paypal-button-logo.png');
          background-size: 100px auto;
          background-repeat: no-repeat;
          background-position: 50%;
          border: 0.0625rem solid #ffaf00;
          max-height: 45px;
          border-radius: 0.25rem;
          font-size: 1rem;
          line-height: 1.375rem;
          width: 100%;
          padding: 0.625rem 0.5rem;
          margin-bottom: 0.5rem;
          span {
            visibility: hidden;
          }
        }
      }
    }
  }
}
</style>
