<template>
  <section class="payment">
    <div class="container">
      <div class="row">
        <Payment />
        <CartOrder :cart="cartCheckOut" />
      </div>
    </div>
  </section>
</template>

<script>
import { CART_PORDUCT } from '@/const/cart'
import CartOrder from '../CartOrder'
import Payment from './Payment'
export default {
  components: {
    Payment,
    CartOrder,
  },
  data() {
    return {
      dataCartProduct: CART_PORDUCT,
      discount: {
        show: true,
        amount: 5.0,
      },
    }
  },
  computed: {
    cartCheckOut() {
      if (this.dataCartProduct)
        return {
          totalItem: this.dataCartProduct.length,
          discount: this.discount,
          sumPrice: this.dataCartProduct.reduce((sum, item) => sum + item.price, 0),
        }
      return {
        totalItem: 0,
        discount: {
          show: false,
          amount: 0,
        },
        sumPrice: 0,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.payment {
  background: $bg-color-secondary;
  overflow-x: hidden;
  padding-top: 2rem;
}
</style>
