<template>
  <div class="col-xl-8 col-lg-12">
    <div class="review">
      <table class="table">
        <tbody>
          <tr>
            <td class="table__title">Contact</td>
            <td>gdfg@gmail.com</td>
            <td class="table__link">Change</td>
          </tr>
          <tr>
            <td class="table__title">Ship to</td>
            <td>gdfgd, fgdfg, 100000, dfgdf, Cyprus</td>
            <td class="table__link">Change</td>
          </tr>
          <tr>
            <td class="table__title">Speed</td>
            <td>Larry</td>
            <td class="table__link">Change</td>
          </tr>
        </tbody>
      </table>
      <FAQ />
    </div>
    <a href="" class="back">← Back to shipping methods</a>
  </div>
</template>

<script>
import FAQ from './FAQ'
export default {
  components: {
    FAQ,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.review {
  // padding: 1rem 1rem 0.5rem;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #6b7a87;
  line-height: 1.375rem;
  .table {
    background-color: #efeee8;
    tr:first-child td {
      border-top: none;
    }
    &__title {
      font-size: 1rem;
      color: #aca99d;
      width: 5.625rem;
      margin-right: 0.5rem;
      flex-shrink: 0;
    }
    &__link {
      color: $primary-color;
    }
  }
}
.back {
  display: block;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  text-align: center;
  background: none;
  box-shadow: none;
  color: #176f5e;
  transform: none;
  text-decoration: none;
  cursor: pointer;
}
</style>
