<template>
  <div class="dropdown-menu menu__mega" aria-labelledby="navbarDropdown">
    <div class="row">
      <div v-for="(item, i) in items" :key="i" :class="`col-lg-${numberCol} col-md-12 card__col`">
        <NuxtLink :to="item.path">
          <CardItem :item="item" />
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
import CardItem from './CardItem'
export default {
  components: {
    CardItem,
  },
  props: {
    items: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
  computed: {
    numberCol() {
      return Math.floor(12 / this.items.length)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.menu__mega {
  @include box-shadow;
  left: 15%;
  position: absolute;
  background-color: $bg-color-secondary;
  .row {
    padding: 1rem;
    text-align: center;
    max-width: $container-mega-max-width;
    .card__col {
      padding: 0 6px !important;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
@media (max-width: 992px) {
  .menu__mega.show {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    overflow-y: auto;
    left: 0;
    .row {
      padding: 0rem;
      width: 100%;
      flex-direction: column;
      display: flex;
    }
  }
}
</style>
