<template>
  <div class="card">
    <img v-if="item.imageURL" :src="item.imageURL" alt="260x130" />
    <div class="card-body">
      <h5 class="card-title mb-0">{{ item.title }}</h5>
      <p v-if="item.desc" class="card-text">{{ item.desc }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return {
          imageURL: '',
          title: '',
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.card {
  border: none;
  background: transparent;
  img {
    background: $primary-color;
    width: 100%;
    object-fit: cover;
    &:hover {
      transform: scale(1.02);
    }
  }
  .card-body {
    padding: 6px 0 0 0;
    h5 {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: $text-color-primary;
      &:hover {
        color: $primary-color;
      }
    }
    p {
      font-size: 0.9rem;
      line-height: 1.4rem;
      color: $text-color-secondary;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
@media (max-width: 992px) {
  .card {
    width: 100%;
    border: none;
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 10px;
    img {
      background: $primary-color;
      width: 40%;
      object-fit: cover;
      &:hover {
        transform: scale(1.02);
      }
    }
    .card-body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px;
      text-align: left;
    }
  }
}
</style>
