<template>
  <nav id="navbarTop" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <Logo />
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li v-for="menu in menus" :key="menu.path" class="nav-item">
            <NuxtLink v-if="!menu.children || menu.children.length === 0" class="nav-link icon__moblie" :to="menu.path">
              <i :class="`fa fa-${menu.icon.name}`" :style="{ color: menu.icon.color }"></i>
              {{ menu.name }}
            </NuxtLink>
            <a
              v-else
              id="navbarDropdown"
              class="nav-link dropdown-toggle icon__moblie"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i :class="`fa fa-${menu.icon.name}`" :style="{ color: menu.icon.color }"></i>
              {{ menu.name }}
            </a>
            <CardList :items="menu.children" />
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        </form> -->
      </div>
      <NavCart />
    </div>
  </nav>
</template>

<script>
import MENU from '@/const/menu'
import Logo from './Logo'
import CardList from './CardList'
import NavCart from './NavCart'
export default {
  components: {
    Logo,
    CardList,
    NavCart,
  },
  data() {
    return {
      menus: MENU.menus,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
nav {
  &.fixed-top {
    height: 60px;
  }
  @include box-shadow;
  .container {
    max-width: $container-max-width;
    position: relative;
    display: flex;
    .nav-link {
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: $text-color-secondary !important;
      &.icon__moblie i {
        display: none;
      }
      &:hover {
        cursor: pointer;
        color: $primary-color !important;
      }
    }
  }
}
@media (max-width: 992px) {
  nav {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: none;
    padding: 0;
    .container {
      .navbar-toggler {
        order: -1;
        margin-left: 20px;
      }
      .navbar-collapse {
        order: 3;
        padding: 10px;
        background-color: $bg-color-secondary;
        width: 100%;
        .nav-item {
          position: relative;
          line-height: 50px;
          height: 50px;
          padding: 10px 10px 0 15px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          &:last-child {
            border-bottom: none;
          }
          .icon__moblie i {
            display: inline-block;
            font-size: 1.2rem;
            margin: 0 15px;
          }
          .dropdown-toggle {
            position: relative;
            &::after {
              position: absolute;
              top: 50%;
              right: 1%;
            }
          }
        }
        &.show {
          display: block;
          .nav-item {
            display: block;
          }
          li.nav-item.show {
            height: 100%;
          }
        }
      }
    }
  }
}
</style>
