<template>
  <NuxtLink class="navbar-brand" to="/">
    <img src="logo.svg" alt="Logo" class="logo" />
  </NuxtLink>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.logo {
  height: 60px;
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .navbar-brand {
    margin: 0 !important;
    .logo {
      height: 50px;
      margin: 0 !important;
    }
  }
}
@media (max-width: 992px) {
  .logo {
    height: 40px;
  }
}
</style>
