<template>
  <div class="nav__right">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img
            src="https://images.prismic.io/wonderbly/6dbad9b2a1c16f7c368352899c27438cd7c13346_united-states---flag.png"
            alt="flag"
          />
          United States
        </a>
      </li>
      <li class="nav-item"><a class="nav-link text__color" href="#">My Account</a></li>
      <li class="nav-item"><a class="nav-link text__color" href="#">Cart</a></li>
      <li class="nav-item">
        <a class="nav-link cart__shopping" href="#">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge badge-light badge__cart">4</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav nav__mobile">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img
            src="https://images.prismic.io/wonderbly/6dbad9b2a1c16f7c368352899c27438cd7c13346_united-states---flag.png"
            alt="flag"
          />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text__color" href="#">
          <i class="fa fa-user"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cart__shopping" href="#">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge badge-light badge__cart">4</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.nav__right {
  .navbar-nav.nav__mobile {
    display: none;
  }
  .navbar-nav {
    .nav-link {
      text-decoration: none;
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: $text-color-secondary !important;
      img {
        height: 30px;
        object-fit: cover;
      }
      &.text__color,
      i.fa-shopping-cart,
      &:hover {
        color: $primary-color !important;
      }
      &.text__color:hover {
        color: $text-color-hover !important;
      }
      &.cart__shopping {
        position: relative;
        &:hover {
          color: $text-color-hover !important;
        }
        i.fa-shopping-cart {
          font-size: 1.4rem;
        }
        .badge__cart {
          background: $primary-color;
          color: $text-color;
          font-size: 0.6rem;
          height: 1rem;
          width: 1rem;
          padding: 0.2rem;
          text-align: center;
          position: absolute;
          right: -0.15rem;
          top: 0.1rem;
          border-radius: 50%;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .nav__right {
    .navbar-nav {
      .nav-link {
        font-size: 1rem;
      }
    }
  }
}
@media (max-width: 992px) {
  .nav__right {
    order: 0;
    margin-right: 20px;
    .navbar-nav {
      display: none;
    }
    .navbar-nav.nav__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li.nav-item {
        margin-left: 10px;
        .badge__cart {
          right: -0.6rem;
          top: 0.2rem;
        }
      }
    }
  }
}
</style>
